*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---- FONT-FAMILY ---- */

@font-face {
    font-family: "Roboto-Medium";
    src: url("/font/Roboto-Medium.ttf")
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/font/Roboto-Regular.ttf")
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("/font/Roboto-Bold.ttf")
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("/font/Roboto-Thin.ttf")
}

@font-face {
    font-family: "Roboto-Italic";
    src: url("/font/Roboto-Italic.ttf")
}

@font-face {
    font-family: "Roboto-BoldItalic";
    src: url("/font/Roboto-BoldItalic.ttf")
}


body {
    font-family: "Roboto-Regular", sans-serif;
    background-color: #FAF9F8;
}

.row-limit-size {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

/* ---- MOBILE ---- */

@media screen and (max-width: 390px) {

    /* HEADER MOBILE - NAV BAR */
    body #header {
        width: 100%;
        margin: 10px auto 0 auto;
        position: absolute;
        top: 0;
        z-index: 9999;
    }

    #header #nav-top {
        height: 50px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto 10px auto;
        /* padding-right: 5%; */
    }

    #header #nav-logo {
        height: 50px;
        line-height: 50px;
        display: flex;
    }

    #nav-logo .logo-text {
        font-size: 1.4rem;
        font-weight: bold;
        color: #fff;
    }

    #nav-top #nav-connexion {
        display: flex;
        width: 32%;
        justify-content: space-evenly;
    }

    #nav-connexion #picto-global {
        margin: auto 0 auto 0;
        opacity: 60%;

    }

    #nav-connexion #picto-customer {
        display: block;
        margin: auto 0 auto 0;
    }

    #btn-connexion,
    #btn-contact {
        display: none;
    }

    /* ---- HERO MOBILE ---- */

    main #hero {
        height: 100vh;
        width: 100%;
        border-radius: 0px;
        padding: 35% 30px;
        margin: auto auto 40px auto;
        background-blend-mode: luminosity;
    }

    #hero>#intro-tittle {
        font-size: 1rem;
        top: 2%
    }

    #hero>h1 {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 30px;
        color: #FFFFFF;
        text-transform: uppercase;
        top: 10%;
    }

    #hero>#search-bar-descktop {
        display: none;
    }

    #hero>#search-bar-mobile {
        display: block;
    }

    #btn-search-mobile {
        color: #000;
        background-color: #fff;
        border-radius: 50px;
        height: 48px;
        width: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        font-weight: 600;
        font-size: 0.8rem;
        position: absolute;
        bottom: 20vh;
        left: 50%;
        margin-left: -110px;
    }

    #picto-search-mobile {
        margin-right: 10px;
    }

    /* ---- SECTION 0 MOBILE ---- */

    body #section-0 {
        width: 90%;
        margin: auto auto 20px auto;
        background-color: #FAF9F8;
        flex-direction: column;
    }

    #section-0 .article-section-0 {
        display: flex;
        justify-content: center;
        margin: 30px 0 40px 0;
        width: 100%;
    }

    .article-section-0 .picture-square-town {
        border-radius: 5px;
        height: 15vh;
        max-width: 40%;
    }

    #right-margin-picture {
        margin-right: 25px;
    }

    #left-margin-picture {
        margin-left: 25px;
    }

    .article-section-0-description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .article-section-0-description>h3,
    .article-section-0-description>h4 {
        text-align: center;
    }

    #section-0 .section-0-desktop-extension {
        display: none;
    }

    /* ---- SECTION 1 MOBILE ---- */

    body #section-1 {
        width: 90%;
    }

    #section-1 .container-btn-tag-desktop {
        display: none;
    }

    .hr-section-h2 {
        width: 98%;
    }

    .container-card-section-1 {
        flex-direction: column;
        margin-top: 0;
    }

    .article-card-shadow-desktop {
        display: none;
    }

    #section-1 .article-card-shadow {
        height: 70vh;
        min-height: 370px;
        width: 100%;
        margin: 20px auto 40px auto;
    }

    .picture-top-card {
        background-size: cover;
        background-position: center;
        min-height: 200px;
        height: 50%;
        position: relative;
        border-radius: 5px 5px 0 0;
    }

    .card-description-section-1-mobile .title-card {
        margin: 12px 0 10px 0;
    }

    .card-description-section-1-mobile .card-text-description {
        font-size: 0.8rem;
        line-height: 18px;
    }

    .btn-all-offers {
        width: 90%;
        margin-top: 20px;
    }

    /* ---- SECTION FRANCHISE MOBILE ---- */

    #franchise #title-franchise-baner {
        font-size: 1.2rem;
        line-height: 2rem;
        background: #000;
        width: 100%;
    }

    #franchise #pitch-franchise-baner {
        opacity: 100%;
        font-size: 0.8rem;
        line-height: 3.5rem;
    }

    #franchise #btn-join-franchise {
        height: 40px;
    }

    /* ---- SECTION 2 MOBILE ---- */

    body #section-2 {
        width: 90%;
        margin: 5vh auto auto;
        background-color: #FAF9F8;
    }

    #section-2 .article-card-border {
        width: 90%;
        margin: 20px auto 40px auto;
    }

    #section-2 .article-card-border-desktop {
        display: none;
    }

    #section-2 #container-gift {
        display: none;
    }

    /* ---- SECTION 3 MOBILE ---- */

    #section-3 {
        margin: 0 auto 20px auto;
    }

    .article-section-3 {
        flex-direction: column;
    }

    #section-3 .article-section-3 .picture-activty {
        height: 20vh;
        width: 90%;
        border-radius: 5px;
        margin: 0 auto 40px auto;
    }

    .article-section-3 .container-activity-description {
        width: 80vw;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    .container-activity-description .activity-description {
        width: 100%;
        margin-top: 20px;
    }

    /* ---- SECTION 4 MOBILE ---- */

    #section-4 .title-section-h2-mobile {
        display: block;
        text-align: center;
        background-color: #FBE3DA;
        padding-top: 2vh;
    }

    #section-4 .container-temoignages {
        height: 65vh;
        padding: 20px;
    }

    .container-temoignages .title-section-h2-desktop {
        display: none;
    }

    .container-temoignages .double-cote-left {
        height: 30px;
    }

    .container-temoignages #temoignage-1,
    .container-temoignages #temoignage-2 {
        width: 100%;
        height: 50%;
        margin: 0;
    }

    .container-temoignages #temoignage-2 {
        margin: 1vh 0;
    }

    #temoignage-1 .picto-temoignage-desktop,
    #temoignage-2 .picto-temoignage-desktop {
        display: none;
    }

    /* ---- SECTION 5 MOBILE ---- */

    body #section-5 {
        width: 90%;
        height: 70vh;
        margin: 35px auto 20px auto;
    }

    #section-5 #container-formulaire-photo {
        width: 90%;
        position: initial;
        box-shadow: none;
    }

    #container-formulaire-photo .container-formulaire {
        width: 100%;
    }

    #container-formulaire-photo #picture-form-desktop {
        display: none;
    }

    .container-formulaire form {
        width: 100%;
        margin: 20px auto 20px auto;
    }

    /* ---- FOOTER MOBILE ---- */

    #store-apple::before {
        left: 3%;
    }

    #footer #store-google::before {
        left: 55%;
    }

    #footer #container-categories-element-footer {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    #container-categories-element-footer .container-element-footer {
        padding-bottom: 0;
    }

    .container-element-footer .liste-footer-desktop {
        display: none;
    }

    #container-categories-element-footer .container-element-footer>h4 {
        margin: auto 0 auto 0;
        line-height: 70px;
    }

    #container-categories-element-footer .container-element-footer>h4::after {
        content: "+";
        font-size: 25px;
        position: absolute;
        font-weight: lighter;
        right: 10%;
        opacity: 50%;
    }

    #social-network {
        width: 100%;
        text-align: center;
        padding: 10px 0 10px 0;
    }

    #social-network>img:nth-of-type(2) {
        padding-left: 5%;
        padding-right: 5%;
    }

    #confidential-footer {
        margin-bottom: 30px;
    }

    /* ---- FONT-PICTO-COMMUN ---- */

    .height-picto {
        height: 35px;
    }

    .title-section-h2 {
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 24px;
    }

    .title-card-h3 {
        font-weight: bold;
        font-size: 1.1rem;
    }
}

/* ---- header - NAV BAR TOP - DESKTOP ---- */

#header {
    width: 95vw;
    margin: 20px auto;
    max-width: 1600px;
}

#nav-top {
    height: 50px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 10px auto;
}

#nav-logo {
    height: 50px;
    line-height: 50px;
    display: flex;
}

#nav-logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.logo-text {
    font-family: "roboto-bold";
    font-size: 1.6rem;
    font-weight: bold;
}

#nav-connexion {
    display: flex;
    align-items: baseline;
    width: 20%;
}

#picto-global {
    margin: auto 3% auto 0;
    opacity: 60%;
}

#picto-global:hover {
    margin: auto 3% auto 0;
    opacity: 60%;
    transform: scale(1.2);
    cursor: pointer;
}

#picto-customer {
    display: none;
}

#btn-connexion {
    width: 123px;
    height: 47px;
    background-color: #fab533;
    color: #fff;
    border: #fab533;
    border-radius: 5px;
}

#btn-connexion:hover {
    background-color: #FFFFFF;
    color: #FA6933;
    border: 1px solid #FA6933;
    cursor: pointer;
}

#btn-contact {
    width: 123px;
    height: 47px;
    background-color: #fff;
    color: #FA6933;
    border: 1px solid #FA6933;
    border-radius: 5px;
    margin-left: 3%;
}

#btn-contact:hover {
    width: 123px;
    height: 47px;
    background-color: #FA6933;
    color: #fff;
    border: 1px solid #FA6933;
    border-radius: 5px;
    margin-left: 3%;
    cursor: pointer;
}

/* ---- MAIN - HERO - DESKTOP ---- */

#hero {
    background: url(./img/pexels-travelers-way-13851928.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 80vw;
    margin: auto auto 10vh auto;
    color: #fff;
    text-align: center;
    border-radius: 20px;
}

#intro-tittle {
    font-size: 1.6rem;
    line-height: 24px;
    color: #FFFFFF;
    top: 10%;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 45px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    top: 20%;
}

#search-bar-mobile {
    display: none;
}

#search-bar-descktop {
    display: flex;
    width: 75%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    overflow: hidden;
}

#search-bar-descktop:hover {
    cursor: pointer;
}

#search-bar-descktop>div {
    width: 20%;
    height: 70px;
    background-color: #fff;
    color: #000;
    border-left: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.color-black-search {
    font-size: 1rem;
    font-weight: bold;
}

.color-gray-search {
    font-size: 1rem;
    opacity: 80%;
}

#hero,
#intro-tittle,
h1,
#search-bar-descktop {
    position: relative;
}

/* ---- SECTION 0 DESKTOP ---- */

#section-0 {
    width: 70vw;
    margin: 0 auto 10vh auto;
    background-color: #FAF9F8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#section-0 h2 {
    width: 100%;
    font-size: 1.4rem;
}

.article-section-0,
.section-0-desktop-extension {
    display: flex;
    margin: 30px 0 20px 0;
    width: 25%;
}

.picture-square-town {
    border-radius: 5px;
    height: 10vh;
    max-width: 30%;
}

.article-section-0:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#right-margin-picture {
    margin-right: 35px;
}

.article-section-0-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
}

.title-card-h3 {
    position: relative;
    text-align: end;
}

.title-card-h3::before {
    content: "";
    background: url(./img/icons8-géorepérage-50.png);
    background-size: cover;
    position: absolute;
    height: 22px;
    width: 22px;
    top: -2px;
    left: -10px;
}

.article-section-0-description>h3,
.article-section-0-description>h4 {
    text-align: center;
}

/* ---- SECTION 1 DESKTOP ---- */

#section-1 {
    width: 80vw;
    margin: auto auto 20px auto;
    background-color: #FAF9F8;
    position: relative;
}

#section-1 h2 {
    font-size: 1.8rem;
    margin-left: 1vw;
}

.container-btn-tag-desktop {
    display: inline-block;
    position: absolute;
    right: 3%;
    top: -5px;
}

.btn-tag-desktop {
    width: 123px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    color: #FA6933;
    border: 1px solid #FA6933;
    font-weight: bold;
}

.btn-tag-desktop:hover {
cursor: pointer;
}

.container-card-section-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2vh;
}

.article-card-shadow,
.article-card-shadow-desktop {
    height: 48vh;
    min-height: 370px;
    width: 25%;
    margin: 20px 2vw 40px 2vw;
    border-radius: 5px 5px 0 0;
    position: relative;
    overflow: visible;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #fff;
}

.article-card-shadow:hover {
    transform: scale(1.05);
    transition: all 0.8s ease;
}

.card-heart {
    position: absolute;
    top: 10px;
    right: 10px;
}

#picture-article-1 {
    background-image: url(./img/chalet-foret-nuit.jpg);
}

#picture-article-2 {
    background-image: url(./img/gite\ poton\ lac.jpg);
}

#picture-article-3 {
    background-image: url(./img/pexels-tansu-topuzoğlu-10206271.jpg);
}

.picture-top-card {
    background-size: cover;
    background-position: center;
    min-height: 200px;
    height: 50%;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.card-description-section-1-mobile {
    height: 50%;
    padding: 10px 20px 10px 20px;
    overflow: auto;
}

.picto-share-card {
    position: absolute;
    right: 10px;
    top: 55%;
}

.title-card {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 20px;
    margin: 5px 0 10px 0;
}

.card-price {
    font-weight: 500;
    font-size: 1rem;
}

.card-like {
    margin: 10px auto 15px auto;
}

.note-star {
    margin-bottom: 5px;
}

.card-text-description {
    text-justify: auto;
    overflow-wrap: break-word;
    font-size: 1rem;
    line-height: 20px;
}

.btn-all-offers {
    width: 30%;
    min-width: 230px;
    height: 39px;
    background-color: #FA6933;
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    margin-top: 35px;
}

/* ---- SECTION FRANCHISE DESKTOP ---- */

#franchise {
    background: url(./img/pexels-paul-g-13615338.jpg);
    background-position: center;
    background-size: cover;
    height: 45vh;
    width: 99vw;
    opacity: 100%;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    padding-bottom: 5vh;
}

#title-franchise-baner {
    text-align: center;
    font-size: 2.8rem;
    line-height: 3.5rem;
}

#pitch-franchise-baner {
    color: #fff;
    opacity: 80%;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-top: 5vh;
}

#btn-join-franchise {
    width: 123px;
    height: 47px;
    background-color: #FA6933;
    color: #fff;
    border: #FA6933;
    border-radius: 5px;
}

/* ---- SECTION 2 DESKTOP ---- */

#section-2 {
    width: 100%;
    margin: 0 auto 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #FBE3DA;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#section-2>h2 {
    width: 90%;
    margin-left: 25px;
}

.hr-section-h2 {
    width: 97%;
    margin: 0 auto;
}

.article-card-border,
.article-card-border-desktop {
    height: 36vh;
    min-height: 300px;
    width: 20%;
    margin: 30px auto 30px auto;
    border-radius: 5px;
    position: relative;
    overflow: visible;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    background-color: #fff;
}

#picture-article-1-section-2 {
    background-image: url(./img/pexels-tansu-topuzoğlu-10206271.jpg);
}

#picture-article-2-section-2 {
    background-image: url(./img/pexels-tansu-topuzoğlu-10206271.jpg);
}

#picture-article-3-section-2 {
    background-image: url(./img/pexels-tansu-topuzoğlu-10206271.jpg);
}

.picture-top-card-section-2 {
    background-size: cover;
    background-position: center;
    min-height: 160px;
    height: 50%;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.tag-alerte {
    background-color: #FA6933;
    color: #fff;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px 5px 0 0;
}

.card-description-section-2 {
    height: 50%;
    padding: 10px 20px 10px 20px;
    overflow: auto;
}

.sub-title-card {
    margin-bottom: 10px;
}

.more-info-card-right {
    position: absolute;
    bottom: 10px;
    right: 5px;
    font-size: 0.8rem;
}

#btn-all-offers-section-2 {
    margin: 0 auto;
    width: 30%;
    min-width: 230px;
    height: 39px;
    background-color: #FA6933;
    color: #fff;
    border: none;
}

/* ---- SECTION 3 - CARTE CADEAU DESKTOP ---- */

#container-gift {
    height: 35vh;
    min-height: 300px;
    width: 60%;
    margin: 40px 20%;
    border-radius: 70px 5px 70px 5px;
    /* position: relative; */
    /* left:30% */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    background-color: #fff;
    display: flex;
}

#picture-gift {
    margin: auto 10%;
}

#gift-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#btn-offer-card {
    width: 257px;
    height: 55px;
    color: #FA6933;
    background: #FFFFFF;
    border: 2px solid #FA6933;
    border-radius: 50px;
}

/* ---- SECTION 3 DESKTOP ---- */

#section-3 {
    width: 90%;
    margin: 5vh auto 20px auto;
}

#section-3>h2 {
    text-align: center;
}

.article-section-3 {
    width: 100%;
    margin: 30px 0 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.article-section-3>.picture-activty {
    height: 22vh;
    width: 20%;
    border-radius: 5px;
}

.container-activity-description {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.activity-description {
    margin-top: -10px;
    text-justify: inter-word;
    line-height: 24px;
    font-size: 1rem;
}

.hr-section-3 {
    margin: 50px auto;
    width: 40%;
    border: 1px solid #000;
}

/* ---- SECTION 4 DESKTOP ---- */

#section-4 {
    width: 100%;
    margin: 50px auto 20px auto;
}

#section-4>h2 {
    display: none;
}

.container-temoignages {
    background-color: #FBE3DA;
    height: 90vh;
    padding: 10vh 0;
    padding-bottom: 60vh;
}

.title-section-h2-desktop {
    text-align: right;
    margin-right: 20vw;
}

#temoignage-1 {
    display: flex;
    width: 50vw;
    height: 60%;
    margin-left: 5vw;
}

#temoignage-2 {
    display: flex;
    width: 50vw;
    height: 60%;
    margin-left: 40vw;
}

.double-cote-left {
    float: left;
    height: 50px;
    margin: -10px 10px -10px 0;
}

.picto-temoignage-desktop {
    margin-right: 3vw;
    height: 10vh;
}

.temoignage-description {
    display: flex;
    flex-direction: column;
}

.temoignage {
    font-size: 1rem;
    font-style: italic;
    line-height: 24px;
    text-justify: inter-word;
}

.container-temoignages h5 {
    margin: 10px 0;
}

#temoignage-2 {
    margin-top: 30px;
}

/* ---- SECTION 5 DESKTOP ---- */

#section-5 {
    width: 99vw;
    height: 40vh;
    margin: 35px auto 20px auto;
    position: relative;
}

#container-formulaire-photo {
    width: 40%;
    height: 70vh;
    display: flex;
    margin: 0 auto;
    border-radius: 0 50px 50px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: absolute;
    top: -40vh;
    left: 30%;
    z-index: 999;
}

.container-formulaire {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FAF9F8;
    padding-top: 5vh;
}

.container-formulaire h3 {
    font-size: 1.2rem;
}

.container-formulaire p {
    font-size: 1rem;
    margin: 0 2vw;
}

#picture-form-desktop {
    width: 50%;
    background: url(./img/pexels-adi-perets-12932302.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0 50px 50px 0;
}

.container-formulaire h3 {
    margin-bottom: 10px;
}

form {
    width: 80%;
    margin: 20px auto 20px auto;
}

legend {
    margin-left: 10px;
}

.input-effect {
    width: 100%;
    height: 30px;
    background: transparent;
    appearance: none;
    border: none
}

fieldset {
    margin-bottom: 15px;
    background-color: #fff;
}

textarea {
    border: none;
    background: transparent;
    width: 100%;
}

#btn-submit-form {
    width: 150px;
    height: 35px;
    color: #fff;
    background: #FA6933;
    border: 2px solid #FA6933;
    border-radius: 50px;
    margin-bottom: 4vh;
}

/* ---- FOOTER DESKTOP ---- */

#footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #FAF9F8;
}

#logo-footer {
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
    width: 100%;
}

#logo-footer>img {
    text-align: center;
}

#store-apple {
    height: 60px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

#store-apple::before {
    content: "";
    background: url(./img/Apple\ Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    position: absolute;
    right: 77vw;
}

#store-apple>span,
#store-google>span {
    font-size: 0.8rem;
}

#store-apple>span:last-of-type,
#store-google>span:last-of-type {
    font-weight: bold;
}

#store-google {
    height: 60px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #000;
}

#store-google::before {
    content: "";
    background: url(./img/Google\ Play.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    position: absolute;
    right: 28%;
}

#container-categories-element-footer {
    display: flex;
    width: 100%;
    padding: 5vh;
}

.container-element-footer {
    width: 100%;
    padding-left: 10%;
    padding-bottom: 2vh;
    border-bottom: 1px solid #000;
    overflow: auto;
}

.container-element-footer>span:first-of-type {
    margin-bottom: 2vh;
}

.container-element-footer ul {
    list-style-type: none;
}

.container-element-footer ul li {
    list-style-type: none;
    margin: 2vh 0;
}

.container-element-footer>h4 {
    display: block;
    line-height: 1rem;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

#social-network {
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    margin-bottom: 2vh;
}

#social-network>img {
    height: 35px;
}

#social-network>img:nth-of-type(2) {
    padding-left: 3%;
    padding-right: 3%;
}

#confidential-footer {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3vh;
}

#confidential-footer>span {
    font-size: 1rem;
    font-weight: bold;
}

#confidential-footer>span:first-of-type {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#confidential-footer>span:nth-of-type(3) {
    margin: 0 3% 0 3%;
}

#terme-footer {
    font-size: 1rem;
    font-weight: bold;
}

/* ---- FONT-PICTO-COMMUN ---- */

.height-picto {
    height: 35px;
}

.title-section-h2 {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 24px;
}

.title-card-h3 {
    font-weight: bold;
    font-size: 1.1rem;
}