*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF9F8;
}

.row-limit-size {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

/* ---- MOBILE ---- */

@media screen and (max-width: 390px) {

    /* HEADER MOBILE - NAV BAR */
    body #header {
        width: 100%;
        margin: 10px auto 0 auto;
        position: absolute;
        top: 0;
        z-index: 9999;
    }

    #header #nav-top {
        height: 50px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto 10px auto;
        /* padding-right: 5%; */
    }

    #header #nav-logo {
        height: 50px;
        line-height: 50px;
        display: flex;
    }

    #nav-logo .logo-text {
        font-size: 1.4rem;
        font-weight: bold;
    }

    #nav-top #nav-connexion {
        display: flex;
        width: 32%;
        justify-content: space-evenly;
    }

    #nav-connexion #picto-global {
        margin: auto 0 auto 0;
        opacity: 60%;
    }

    #nav-connexion #picto-customer {
        display: block;
        margin: auto 0 auto 0;
    }

    #btn-connexion,
    #btn-contact {
        display: none;
    }

    /* ---- HERO MOBILE ---- */

    main #hero {
        height: 100vh;
        width: 100%;
        border-radius: 0px;
        padding: 35% 30px;
        margin: auto auto 40px auto;
    }

    #hero>#intro-tittle {
        font-size: 1rem;
        top: 2%
    }

    #hero>h1 {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 30px;
        color: #FFFFFF;
        text-transform: uppercase;
        top: 10%;
    }

    #hero>#search-bar-descktop {
        display: none;
    }

    #hero>#search-bar-mobile {
        display: block;
    }

    #btn-search-mobile {
        color: #000;
        background-color: #fff;
        border-radius: 50px;
        height: 48px;
        width: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        font-weight: 600;
        font-size: 0.8rem;
        position: absolute;
        bottom: 20vh;
        left: 50%;
        margin-left: -110px;
    }

    #picto-search-mobile {
        margin-right: 10px;
    }

    /* ---- SECTION 0 MOBILE ---- */

    body #section-0 {
        width: 90%;
        margin: auto auto 20px auto;
        background-color: #FAF9F8;
        display: block;
    }

    #section-0 .article-section-0 {
        display: flex;
        justify-content: center;
        margin: 30px 0 40px 0;
    }

    .article-section-0 .picture-square-town {
        border-radius: 5px;
        height: 15vh;
        max-width: 40%;
    }

    #right-margin-picture {
        margin-right: 25px;
    }

    #left-margin-picture {
        margin-left: 25px;
    }

    .article-section-0-description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .article-section-0-description>h3,
    .article-section-0-description>h4 {
        text-align: center;
    }

    #section-0 .section-0-desktop-extension {
        display: none;
    }

    /* ---- SECTION 1 MOBILE ---- */

    body #section-1 {
        width: 90%;
        margin: auto auto 20px auto;
        background-color: #FAF9F8;
    }

    #section-1 .container-btn-tag-desktop {
        display: none;
    }

    .hr-section-h2 {
        width: 98%;
    }

    .article-card-shadow .container-picture-destop-section-1 {
        display: none;
    }

    #section-1 .article-card-shadow {
        height: 60vh;
        min-height: 370px;
        width: 100%;
        margin: 20px auto 40px auto;
        border-radius: 5px 5px 0 0;
        position: relative;
        overflow: visible;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        background-color: #fff;
        display: block;
    }

    #picture-article-1 {
        background-image: url(./img/pexels-tansu-topuzoğlu-10206271.jpg);
    }

    #picture-article-2 {
        background-image: url(./img/pexels-tansu-topuzoğlu-10206271.jpg);
    }

    #picture-article-3 {
        background-image: url(./img/pexels-tansu-topuzoğlu-10206271.jpg);
    }

    .picture-top-card {
        background-size: cover;
        background-position: center;
        min-height: 200px;
        height: 50%;
        position: relative;
        border-radius: 5px 5px 0 0;
    }

    .card-heart {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .article-card-shadow .card-description-section-1-mobile {
        height: 50%;
        padding: 10px 20px 10px 20px;
        overflow: auto;
        display: block;
    }

    .picto-share-card {
        position: absolute;
        right: 10px;
        top: 55%;
    }

    .title-card {
        font-weight: bold;
        font-size: 1rem;
        line-height: 20px;
        margin-bottom: 8px;
    }

    .card-price {
        font-weight: 500;
        font-size: 1rem;
    }

    .card-like {
        margin: 10px auto 15px auto;
    }

    .note-star {
        margin-right: 15px;
    }

    .card-text-description {
        text-justify: auto;
        overflow-wrap: break-word;
        font-size: 0.8rem;
    }

    .btn-all-offers {
        width: 90%;
        min-width: 230px;
        height: 39px;
        background-color: #FA6933;
        color: #fff;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        margin-top: 20px;
    }

    /* ---- SECTION ARRIVAGE MOBILE ---- */

    #section-arrivage {
        width: 90%;
        margin: auto auto 20px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .title-section-h2 {
        margin-top: 10px;
        width: 100%;
    }

    .article-section-arrivage {
        display: flex;
        flex-direction: column;
        margin: 30px 0 40px 0;
        width: 45%;
    }

    .picture-new-town {
        border-radius: 5px;
        height: 15vh;
        width: 100%;
    }

    .article-section-arrivage>h3 {
        margin: 10px 0 8px 0;
    }

    .hr-opacity {
        width: 90%;
        margin-left: 5%;
        opacity: 30%;
    }

    /* ---- SECTION 2 MOBILE ---- */

    #section-2 {
        width: 90%;
        margin: auto auto 20px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .article-card-border {
        height: 30vh;
        min-height: 300px;
        width: 100%;
        margin: 20px auto 40px auto;
        border-radius: 5px;
        position: relative;
        overflow: visible;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        background-color: #fff;
    }

    #picture-article-1-section-2 {
        background-image: url(./img/pexels-tansu-topuzoğlu-10206271.jpg);
    }

    #picture-article-2-section-2 {
        background-image: url(./img/pexels-tansu-topuzoğlu-10206271.jpg);
    }

    #picture-article-3-section-2 {
        background-image: url(./img/pexels-tansu-topuzoğlu-10206271.jpg);
    }

    .picture-top-card-section-2 {
        background-size: cover;
        background-position: center;
        min-height: 160px;
        height: 50%;
        position: relative;
        border-radius: 5px 5px 0 0;
    }

    .tag-alerte {
        background-color: #FA6933;
        color: #fff;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 5px 5px 0 0;
    }

    .card-description-section-2 {
        height: 50%;
        padding: 10px 20px 10px 20px;
        overflow: auto;
    }

    .sub-title-card {
        margin-bottom: 10px;
    }

    .more-info-card-right {
        position: absolute;
        bottom: 10px;
        right: 5px;
        font-size: 0.8rem;
    }

    /* ---- SECTION 3 MOBILE ---- */

    #section-3 {
        width: 90%;
        margin: auto auto 20px auto;
    }

    .article-section-3 {
        width: 100%;
        margin: 30px 0 20px 0;
    }

    .article-section-3>.picture-activty {
        height: 8vh;
        width: 90%;
        border-radius: 50px;
        margin-top: 40px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .activity-description {
        margin-top: -10px;
        text-justify: inter-word;
        line-height: 24px;
        font-size: 1rem;
    }

    .hr-section-3 {
        margin: 50px auto;
        width: 40%;
        border: 1px solid #000;
    }

    /* ---- SECTION 4 MOBILE ---- */

    #section-4 {
        width: 100%;
        margin: 50px auto 20px auto;
    }

    #section-4>h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .container-temoignages {
        background-color: #FBE3DA;
        overflow: auto;
        padding: 20px 20px 20px 20px;

    }

    .double-cote-left {
        float: left;
        height: 30px;
        margin: -10px 10px -10px 0;
    }

    .temoignage {
        font-size: 1rem;
        font-style: italic;
        line-height: 24px;
        text-justify: inter-word;
    }

    .container-temoignages h5 {
        margin: 10px 0;
    }

    #temoignage-2 {
        margin-top: 30px;
    }

    /* ---- SECTION 5 MOBILE ---- */

    #section-5 {
        width: 90%;
        margin: 35px auto 20px auto;
    }

    .container-formulaire h3 {
        margin-bottom: 10px;
    }

    form {
        width: 100%;
        margin: 20px auto 20px auto;
    }

    legend {
        margin-left: 10px;
    }

    .input-effect {
        width: 100%;
        height: 30px;
        background: transparent;
        appearance: none;
        border: none
    }

    fieldset {
        margin-bottom: 15px;
        background-color: #fff;
    }

    textarea {
        border: none;
        background: transparent;
        width: 100%;
    }

    /* ---- FOOTER MOBILE ---- */

    #footer {
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
    }

    #logo-footer {
        border: 1px solid #000;
        border-left: none;
        border-right: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0 15px 0;
        width: 100%;
    }

    #logo-footer>img {
        text-align: center;
    }

    #store-apple {
        height: 60px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 20px;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
    }

    #store-apple::before {
        content: "";
        background: url(./img/Apple\ Logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 35px;
        width: 35px;
        position: absolute;
        left: 3%;
    }

    #store-apple>span,
    #store-google>span {
        font-size: 0.8rem;
    }

    #store-apple>span:last-of-type,
    #store-google>span:last-of-type {
        font-weight: bold;
    }

    #store-google {
        height: 60px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 20px;
        border-bottom: 1px solid #000;
    }

    #store-google::before {
        content: "";
        background: url(./img/Google\ Play.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 35px;
        width: 35px;
        position: absolute;
        right: 35%;
    }

    .container-element-footer {
        height: 70px;
        width: 100%;
        padding-left: 10%;
        border-bottom: 1px solid #000;
    }

    .container-element-footer>span {
        display: block;
        margin: auto 0 auto 0;
        line-height: 70px;
        font-weight: bold;
        font-size: 1rem;
    }

    .container-element-footer>span::after {
        content: "+";
        font-size: 25px;
        position: absolute;
        font-weight: lighter;
        right: 10%;
        opacity: 50%;
    }

    #social-network {
        width: 100%;
        text-align: center;
        padding: 10px 0 10px 0;
    }

    #social-network>img {
        height: 35px;
    }

    #social-network>img:nth-of-type(2) {
        padding-left: 5%;
        padding-right: 5%;
    }

    #confidential-footer {
        width: 100%;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
    }

    #confidential-footer>span {
        font-size: 1rem;
        font-weight: bold;
    }

    #confidential-footer>span:first-of-type {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    #confidential-footer>span:nth-of-type(3) {
        margin: 0 3% 0 3%;
    }

    /* ---- FONT-PICTO-COMMUN ---- */

    .height-picto {
        height: 35px;
    }


    .title-section-h2 {
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 24px;
    }

    .title-card-h3 {
        font-weight: bold;
        font-size: 1.1rem;
    }
}

/* ---- header - NAV BAR TOP - DESKTOP ---- */

#header {
    width: 95vw;
    margin: 20px auto;
}

#nav-top {
    height: 50px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 10px auto;
}

#nav-logo {
    height: 50px;
    line-height: 50px;
    display: flex;
}

.logo-text {
    font-size: 1.4rem;
    font-weight: bold;
}

#nav-connexion {
    display: flex;
    align-items: baseline;
    width: 20%;

}

#picto-global {
    margin: auto 3% auto 0;
    opacity: 60%;
}

#picto-customer {
    display: none;
}

#btn-connexion {
    width: 123px;
    height: 47px;
    background-color: #FA6933;
    color: #fff;
    border: #FA6933;
    border-radius: 5px;
}

#btn-contact {
    width: 123px;
    height: 47px;
    background-color: #fff;
    color: #FA6933;
    border: 1px solid #FA6933;
    border-radius: 5px;
    margin-left: 3%;
}

/* ---- MAIN - HERO - DESKTOP ---- */

#hero {
    background: url(./img/pexels-travelers-way-13851928.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 80vw;
    margin: auto auto 10vh auto;
    color: #fff;
    text-align: center;
    border-radius: 20px;
}

#intro-tittle {
    font-size: 1.6rem;
    line-height: 24px;
    color: #FFFFFF;
    top: 10%;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 45px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    top: 20%;
}

#search-bar-mobile {
    display: none;
}

#search-bar-descktop {
    display: flex;
    width: 75%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    overflow: hidden;
}

#search-bar-descktop>div {
    width: 20%;
    height: 70px;
    background-color: #fff;
    color: #000;
    border-left: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.color-black-search {
    font-size: 0.8rem;
    font-weight: bold;
}

.color-gray-search {
    font-size: 1rem;
    opacity: 80%;
}

#hero,
#intro-tittle,
h1,
#search-bar-descktop {
    position: relative;
}

/* ---- SECTION 0 DESKTOP ---- */

#section-0 {
    width: 70vw;
    margin: 0 auto 10vh auto;
    background-color: #FAF9F8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#section-0 .title-section-h2 {
    width: 100%;
}

.article-section-0,
.section-0-desktop-extension {
    display: flex;
    margin: 30px 0 20px 0;
}

.picture-square-town {
    border-radius: 5px;
    height: 10vh;
    max-width: 30%;
}

#right-margin-picture {
    margin-right: 25px;
}

.article-section-0-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.article-section-0-description>h3,
.article-section-0-description>h4 {
    text-align: center;
}

/* ---- SECTION 1 DESKTOP ---- */

#section-1 {
    width: 80vw;
    margin: auto auto 20px auto;
    background-color: #FAF9F8;
    position: relative;
}

.container-btn-tag-desktop {
    display: inline-block;
    position: absolute;
    right: 3%;
    top: -5px;
}

.btn-tag-desktop {
    width: 123px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    border: 1px solid #FA6933;
    background-color: #fff;
    color: #FA6933;
}

.hr-section-h2 {
    width: 98%;
}

.container-picture-destop-section-1 {
    width: 50%;
    max-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.picture-desktop-section-1 {
    height: 34vh;
    border-radius: 0 0 5px 0;
    width: 40%;
}

.picture-desktop-section-1:nth-of-type(2) {
    height: 34vh;
    margin-bottom: 2vh;
    border-radius: 0 5px 0 0;
}

.picture-desktop-section-1:first-of-type {
    height: 70vh;
    width: 60%;
    margin-right: 1vw;
    border-radius: 5px 0 0 5px;
}

/* .article-card-shadow {
    display: none;
}

#picture-article-1 {
    background-image: url(./img/pexels-tansu-topuzoğlu-10206271.jpg);
}

#picture-article-2 {
    background-image: url(./img/pexels-tansu-topuzoğlu-10206271.jpg);
}

#picture-article-3 {
    background-image: url(./img/pexels-tansu-topuzoğlu-10206271.jpg);
}

.picture-top-card {
    background-size: cover;
    background-position: center;
    min-height: 200px;
    height: 50%;
    position: relative;
    border-radius: 5px 5px 0 0;
}

/* .card-heart {
display: none;
} */

 /* .card-description-section-1-mobile {
    display: none;
} 

.picto-share-card {
    position: absolute;
    right: 10px;
    top: 55%;
}

.title-card {
    font-weight: bold;
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 8px;
}

.card-price {
    font-weight: 500;
    font-size: 1rem;
}

.card-like {
    margin: 10px auto 15px auto;
}

.note-star {
    margin-right: 15px;
}

.card-text-description {
    text-justify: auto;
    overflow-wrap: break-word;
    font-size: 0.8rem;
}  */

.btn-all-offers {
    width: 90%;
    min-width: 230px;
    height: 39px;
    background-color: #FA6933;
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    margin-top: 20px;
}